doctype html
html
  head
    title= Boardtime
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/colorpicker.css')
  body
    block content
script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket.js")
script(src="/javascripts/pencil.js")
script(src="/javascripts/arc.js")
script(src="/javascripts/main.js")
script(src="/javascripts/lib/jquery-2.1.0.min.js")
script(src="/javascripts/colorpicker.js")
