doctype html
html
  head
    title= Boardtime
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper-core.js")
    script(src="/javascripts/pencil.js")
    script(src="/javascripts/arc.js")
    script(src="/javascripts/main.js")
  body
    block content
